header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 2rem 1.5rem;
    
}

.back-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;

    span {
        font-size: 1rem;
    }
}


.container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background: blue;
}